<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <!-- 类型别名,这里定义别名ProviderMapper就可以使用别名了.仅仅只关联XML配置，简写冗长的Java类名 -->
    <typeAliases>
        <typeAlias alias="user" type="entity.User"/>
    </typeAliases>
<!--    <mappers>
        <mapper resource="mapper/studentMapper.xml" />
    </mappers>-->

</configuration>
